StudentExercises2.1/schema/singletransaction.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="customerComplaint">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="customerName">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="firstName"/>
              <xs:element type="xs:string" name="lastName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="customerAddress">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="a_Line" maxOccurs="unbounded" minOccurs="0"/>
              <xs:element type="xs:string" name="town"/>
              <xs:element type="xs:string" name="country"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

